<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<base href="/">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
		integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burgers Galore!</title>
</head>

<body>
	{{{ body }}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgertwo.js"></script>
</body>

</html>